.emptytop{
    background-color: lightgrey;
}
div.full{
    background-color: darkgray;
}

p.name{
    font-weight: bold;

}

p.description{
    color: dimgray;
}
p.date{
    background-color: white;
    border-radius:3px;
    text-align: right;
}
p.lines{
    font-size: 50px;
    text-align: center;
}
p.order{
    background-color:white;
    text-align: center;


}
button.order{
    border: none;
    background-color:white;
    font-size: large;


}