body{
    background-color: whitesmoke;
    text-align: right;
    margin: 5%;
}
.NameProj{
text-align: center;
    font-size: 40px;
}
.ExperienceSearch{
    flex-direction: row;
    justify-content: space-between;
}
.ExperienceSearch button{
    width: 30%;
    height: 50px;
    padding:10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    background-color:gainsboro;
    font-size: 16px;
}

input.SearchBtn {
    background-color: white;
    border: gray;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 60%;
    height: 6px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
.LogIn{
    width: 40px;
}
.RegisterArtist button{
    background-color: white;
    border: 50px;
    color: black;
    text-align: center;
    font-size: 20px;
    width: 80%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}