
img{
    border-radius: 8px;
    align-content: center;
}

.paper{
    background-color: lightgray;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
input[type=text] {
    border: 1px solid black;
    border-radius: 4px;
}
.Return{
    width: 20px;
}
.ButtonLogIn{
    color: #4CAF50;
    background-color: white;
    text-align: center;
    font-size: 20px;
    width: 25%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}