.btnReg{
    background-color: white;
    border: 50px;
    color: black;
    text-align: center;
    font-size: 20px;
    width: 80%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}