body{
    background-color: whitesmoke;
}

h2 {
    color: black;
    text-align: right;
}
div {
    background: whitesmoke;
}

Table{
    width: 100px;
}
p.left{
    padding-left: 50px;
    text-align: left;
    font-size:20px;
    background-color: lightgrey;
}
tablehead{
    background-color: #4CAF50;
}
button.left{
    position: relative;
    right: 280px;
    size: 50px;
    font-size: 19px;
}
p.emptytop{
    background-color: lightgrey;
}

div.colorb{
    background-color: lightgrey;
}
ul.tester{
    list-style-type: none;
}