body{
    background-color: whitesmoke;
    text-align: right;
    margin: 5%;
}

.ExperienceSelection{
    flex-direction: row;
    justify-content: space-between;
}

.ExperienceSelection button{
    width: 30%;
    height: 50px;
    padding:10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    background-color:gainsboro;

}

.PlaceFilter{

}
input{
    width: 90%;
    height: 20px;
}

input::placeholder{
    text-align: right;
}

.DateFilter{

}


#SearchBtn{
    width: 90%;
    background-colorcolor: darkgrey;
    height: 30px;
}
.Return{
    width: 20px;
}
