

.Table{

    font-family:  Helvetica, sans-serif;
    border-collapse: collapse;
    width:100%;
    background:lightgrey ;
    table-layout:fixed;

}

.the-table{
}
row-tab{
    background-color: red;
}

